body {
}

.table{
    
}



.text {
   visibility: hidden;
   width: 120px;
   background-color: black;
   color: #fff;
   text-align: center;
   padding: 5px;
   border-radius: 6px;
   position: absolute;
   z-index: 1;
   
}

.product:hover .text {
   visibility: visible; 

}