@model Aplikacija.Proizvod

@{
    ViewBag.Title = "Confirmation_3rd";
}

<h1>Confirmation</h1>

<h3>@Model.Naziv successfully created!</h3>

<br />

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


